model/dataTools/all-cards.csv
model/dataTools/all-cards.json
model/dataTools/all-cards-png.csv
model/dataTools/difference.csv
model/dataTools/image_list.csv
model/dataTools/test.csv
model/downloaded_images/
model/test.jpg
ml-flask-server.pem
model/server/testImages/
model/server/testImages/